## Question 1 : Loading data from Wikipedia into DataFrame

I found the easiest way to load data is to save it from page to CSV, store it on web, then download into dataframe and then perform necessary amendments

In [2]:
import pandas as pd

In [72]:
# Loading csv
file_name='https://drive.google.com/uc?authuser=0&id=1gR7wopHIaORTAo6AtkkSHWbeLgdk84l0&export=download'
df=pd.read_csv(file_name)

In [73]:
# checking how data looks like
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [74]:
#dropping rows where Borough = 'Not assigned'
df = df[df.Borough != 'Not assigned']

In [75]:
# checking if there are unassigned neighborhoods still left 
df[df.Neighbourhood == 'Not assigned']

  Postcode       Borough Neighbourhood
8      M7A  Queen's Park  Not assigned

In [76]:
#assign them value of Borough
df.loc[8,'Neighbourhood'] = "Queen's Park"

In [77]:
# checking same row
df[df.Borough == "Queen's Park"]

  Postcode       Borough Neighbourhood
8      M7A  Queen's Park  Queen's Park

In [78]:
df = df.reset_index(drop=True)

In [57]:
#now we need to group df by Borough and concatenate strings form corresponding Neighbourhoods with comma
#df.groupby('Borough')['C'].apply(lambda x: "{%s}" % ', '.join(x))
df = df.groupby(['Postcode', 'Borough'])['Neighbourhood'].apply(lambda text: ''.join(text.to_string(index=False))).str.replace('(\\n)', ', ').reset_index()

  Postcode       Borough Neighbourhood
8      M7A  Queen's Park  Queen's Park

In [102]:
#checking results
df.head()

  Postcode      Borough                                      Neighbourhood
0      M1B  Scarborough                                    Rouge,  Malvern
1      M1C  Scarborough   Highland Creek,      Rouge Hill,      Port Union
2      M1E  Scarborough              Guildwood,  Morningside,    West Hill
3      M1G  Scarborough                                             Woburn
4      M1H  Scarborough                                          Cedarbrae

In [103]:
#I did not get what is the sorting in example hence lets check exact Postal Code with multiple neigbourhoods, say 'M4B'
df[df.Postcode == 'M4B']

   Postcode    Borough                         Neighbourhood
35      M4B  East York   Woodbine Gardens,     Parkview Hill

So order of Neighbourhood still differ but themselves they are correct so switching to final step in this part of sumbission - shape of dataframe

In [104]:
df.shape

(103, 3)